/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* css reset */

html, body, div, span, applet, object, iframe,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* a tags */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #d0604c; 
    text-decoration:none; 
    cursor:pointer;  
}

/* body */

body{
    background-color: #0f0f0f;
    font-family: "Roboto", serif;
    color: white;
}

/* parent */

.parent {
    display: grid;
    max-width: 1600px;
    padding: 0 1em;
    margin: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        "header" 
        "nav" 
        "main" 
        "footer";
    min-height: 100vh;
}

/* header */

.header, .nav, .main, .footer{
    place-items: center;
    text-align: center;
    padding: 10px;
}

.header {
    grid-area: header;
    margin: 1em 0;
}

.header > picture > img {
    max-width: 35em;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-weight: bold;
    font-size: large;
}

.nav a:hover{
    transform: scale(1.2); 
    transition: transform 0.5s ease, background-color 0.5s ease;
}

/* main */

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "promotion" "articles";
    padding: 1em;
}

/* promotion */

.promotion{
    grid-area: promotion;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    gap: 2em;
}

.promo{
    background-color: #d0604c;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1em;
    text-align: center;
    align-items: center;
}

/* button */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0604c;
  color: #f3e3d3;
  border-radius: .25em;
  font-size: 1em;
  font-weight: 600;
  padding: 1em;
  min-height: 3rem;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    color: white;
    transform: scale(0.9); 
}

/* articles */

.articles {
    grid-area: articles;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0.5em;
    gap: 1em;
    width: 100%;
}

.card {
    flex: 1;
    cursor: pointer;
    min-width: 250px;
    padding: 0.5em;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    align-items: center;
    color: #e0e0e0;
    border-radius: 8px;
}

.card:hover {
    background-color: white;
    color: black;
}

.card > img {
    width: 100%;
    height: 350px; 
    object-fit: cover; 
    border-radius: 8px; 
}

/* Image hover effect for the cards */
.card img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

.card .container, .card .button{
    width: 100%;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-icon{
    width: 8em;
}

/* media queries */

@media screen and (max-width: 650px) {
    .header > picture > img {
        max-width: 30em;
        max-height: 6em;
    }

    .articles {
        display: block;
    }

    .promotion{
        display: block;
    }
    .main{
        padding: 0;
    }
    .footer .right{
        font-size: x-small;
    }
}
